# .gitignore

# Visual Studio Code
.vscode/

# Visual Studio
*.suo
*.user
*.sln.docstates

# Rider
.idea/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Compiled files
bin/
obj/

.fake